.jumbotron
{
color:white;
background-color:#9933ff;
height:300px;
}
h1
{
	margin-left:100px;
}
.pp1
{
	font-size:110.5%;
	margin-left:100px;
}
.main1
{
	margin-left:100px;
}
footer
{
	background-color:#d9b3ff;
}